/* COMMON */
.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-20 {
  margin-top: 20px;
}

.color-blue {
  color: #004aff;
}

.bold-title {
  font-weight: bold;
  font-size: 40px;
}

.bold {
  font-weight: bold;
}

.float-left {
  float: left;
}

.google {
  height: 20px;
}

.height-500 {
  height: 500px;
}

.logos-height {
  height: 45px;
}

.fa-padding {
  padding-left: 5px;
}

.fa-padding-15 {
  padding-left: 15px;
}

.dark-blue {
  color: #152c5a;
}
/* /COMMON */
/* NAVBAR */
.navbar{
  height: 80px;
  background-color: #fff;
  border: none;
}

.logo {
  height: 20px;
}

.navbar li {
  display: inline-block;
  line-height: 80px;
  padding-right: 10px;
  color: #332e2e;
  font-weight: bold;
}

.btn-navbar {
  color: #579aff;
  border: 1px solid #579aff;
}


.lh-80 {
  line-height: 80px;
}

.navbar-toggle {
  margin-top: 23px;
}
/* /NAVBAR */

/* JUMBOTRON */
.jumbontron-bg {
  background-image: url("../img/bg-pesci-non-animato.jpg");
}

.jumbo-title {
  color: #fff;

}

.jumbo-title h1 {
  font-size: 55px;
  font-weight: bold;
}

.jumbo-title p {
  font-size: 23px;
}

.jumbo-form {
  background-color: #fff;
  height: 400px;
  border-radius: 10px;
}

.form-btn-1 {
  background-color: #579aff;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 5px 0 5px 20px;
}

.form-btn-2 {
  background-color: #fff;
  color: #555555;
  outline: none;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
}

form {
  padding: 0 15px;
}

form a{
  text-decoration: underline;
}
/* JUMBOTRON *//

/* LOGOS SECTION */
.grey-bg {
  background-color: grey;
}

.logo-list > li {
  display: inline-block;
  list-style-type: none;
}

.logos-padding {
  padding-right: 29px;
  margin-top: 15px;
}

.logo-title {
  font-weight: bold;
  color: #696969;
}
/* /LOGOS SECTION */

/* SECTION 4 COL */
.section-4-p {
  font-size: 22px;
  color: #6c7893;
}
/* /SECTION 4 COL */
