/* COMMON */
html, body {
  overflow-x: hidden;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.padding-right-100 {
  padding-right: 100px;
}

.color-blue {
  color: #004aff;
}

.color-light-blue {
  color: #428fff;
}

.dark-blue {
  color: #152c5a;
}

.color-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.color-green {
  color: #00b4cb;
}

.color-grey {
  color: #9bafdf;
}

.bold-title {
  font-weight: bold;
  font-size: 40px;
}

.bold {
  font-weight: bold;
}

.float-left {
  float: left;
}

.google {
  height: 20px;
}

.height-500 {
  height: 500px;
}

.logos-height {
  height: 45px;
}

.fa-padding {
  padding-left: 10px;
}

.fa-padding-15 {
  padding: 0 15px;
}

.padding-10 {
  padding: 10px 0;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-left-15 {
  padding-left: 15px;
}

.p-blue {
  color: #6c7893;
}

.font-size-50 {
  font-size: 50px;
}

.inline-block {
  display: inline-block;
}

/* /COMMON */

/* NAVBAR */
.navbar{
  background-color: #fff;
  border: none;
}

.logo {
  height: 20px;
}

.navbar li {
  display: inline-block;
  line-height: 80px;
  padding-right: 10px;
  color: #332e2e;
  font-weight: bold;
}

.btn-navbar {
  color: #579aff;
  border: 1px solid #579aff;
}

.lh-80 {
  line-height: 80px;
}

.navbar-toggle {
  margin-top: 23px;
}
/* /NAVBAR */

/* JUMBOTRON */
.jumbontron-bg {
  background-image: url("../img/bg-pesci-non-animato.jpg");
}

.jumbo-title {
  color: #fff;
}

.jumbo-title h1 {
  font-size: 55px;
  font-weight: bold;
}

.jumbo-title p {
  font-size: 23px;
}

.jumbo-form {
  background-color: #fff;
  border-radius: 10px;
}

.form-btn-1 {
  background-color: #579aff;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 5px 0 5px 20px;
}

.form-btn-2 {
  background-color: #fff;
  color: #555555;
  outline: none;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
}

form {
  padding: 0 15px;
}

form a{
  text-decoration: underline;
}
/* JUMBOTRON */

/* LOGOS SECTION */
.grey-bg {
  background-color: grey;
}

.logo-list > li {
  display: inline-block;
  list-style-type: none;
}

.logos-padding {
  padding-right: 29px;
  margin-top: 15px;
}

.logo-title {
  font-weight: bold;
  color: #696969;
}
/* /LOGOS SECTION */

/* SECTION 4 COL */
.section-4-p {
  font-size: 22px;
  color: #6c7893;
}

.list-4-col {
  border-left: 1px solid #696969;
}

.list-4-col > li {
  list-style-type: none;
  margin-top: 20px;
  color: #696969;
}
/* /SECTION 4 COL */

/* FIRST SLIDER */
.slider-dots > span {
  content: "";
  border: 1px solid #004aff;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: inline-block;
}

.dot-1 {
  background-color: #004aff;
}

.responsive {
  width: 100%;
  max-width: 600px;
  height: auto;
}

/* /FIRST SLIDER */

/* CUSTOMER SERVICE SECTION */
.border-bottom-white {
  border-bottom: 1px solid #fff;
}
/* /CUSTOMER SERVICE SECTION */

/* SECOND SLIDER */
.slider-box {
  width: 80%;
  max-width: 600px;
  height: auto;
}

.logo-height-slider {
  height: 35px;
}

.vertical-align-slider {
  vertical-align: 2.2em;
}
/* /SECOND SLIDER */

/* FOOTER */
.copyright {
  color: #7a849d;
}

.proud {
  color: #445477;
}

.footer-box {
  display: inline-block;
}

.footer-box li {
  display: inline-block;
  color: #7a849d;
  font-size: 20px;
  padding-right: 15px;
}

.footer-lists li {
  color: #7a849d;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 0;
}
/* FOOTER */
